body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f7fa;
}

.dashboard{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:70px calc(100vh - 70px);
    height:100vh;
}

.header{
    grid-column:1 / span 2;
    background:#1e293b;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sidebar{
    background:white;
    padding:20px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.battery-card{
    background:#22c55e;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:12px;
}

#battery{
    font-size:3rem;
    font-weight:bold;
}

.dock-card,
.mapping-card{
    display:flex;
    gap:15px;
}

.dock-btn,
.undock-btn,
.map-btn,
.save-btn{
    flex:1;

    height:90px;

    border:none;
    border-radius:15px;

    font-size:24px;
    font-weight:bold;

    cursor:pointer;

    transition:0.2s;
}

.dock-btn{
    background:#2563eb;
    color:white;
}

.undock-btn{
    background:#7c3aed;
    color:white;
}

.map-btn{
    background:#16a34a;
    color:white;
}

.save-btn{
    background:#ea580c;
    color:white;
}

.teleop-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.middle-row{
    display:flex;
    gap:20px;
}

.move-btn{
    width:140px;
    height:140px;

    border:none;
    border-radius:15px;

    background:#2563eb;
    color:white;

    font-size:60px;
    font-weight:bold;

    cursor:pointer;
}

.stop-btn{
    width:160px;
    height:140px;

    border:none;
    border-radius:15px;

    background:#ef4444;
    color:white;

    font-size:24px;
    font-weight:bold;

    cursor:pointer;
}

.map-section{
    padding:15px;

    display:flex;
    flex-direction:column;

    overflow:hidden;
}

.map-section h2{
    margin-top:0;
}

#liveMap{
    width:100%;
    height:calc(100vh - 130px);

    object-fit:contain;

    background:white;
    border-radius:12px;
    border:2px solid #ccc;
}

.nav-btn{
    width:100%;
    height:60px;
    margin-bottom:10px;

    font-size:20px;
    font-weight:bold;

    border:none;
    border-radius:10px;

    background:#0ea5e9;
    color:white;
}