body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f7fa;
}

.dashboard{
    display:grid;
    grid-template-columns:380px 1fr;
    grid-template-rows:70px calc(100vh - 70px);
    height:100vh;
}

.header{
    grid-column:1 / span 2;
    background:#1e293b;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header h1{
    margin:0;
}

.sidebar{
    background:white;
    padding:20px;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.battery-card{
    background:#22c55e;
    color:white;
    text-align:center;
    padding:20px;
    border-radius:12px;
}

.battery-card h3{
    margin:0;
    font-size:20px;
}

#battery{
    margin-top:10px;
    font-size:3rem;
    font-weight:bold;
}

.dock-card,
.mapping-card{
    display:flex;
    gap:12px;
}

.dock-btn,
.undock-btn,
.map-btn,
.save-btn{
    flex:1;
    height:65px;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.dock-btn{
    background:#3b82f6;
    color:white;
}

.undock-btn{
    background:#6366f1;
    color:white;
}

.map-btn{
    background:#10b981;
    color:white;
}

.save-btn{
    background:#f59e0b;
    color:white;
}

.teleop-card{
    margin-top:10px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;
}

.middle-row{
    display:flex;
    gap:12px;
}

.move-btn{
    width:110px;
    height:110px;

    font-size:42px;
    border:none;
    border-radius:12px;

    background:#2563eb;
    color:white;

    cursor:pointer;
}

.stop-btn{
    width:120px;
    height:110px;

    background:#ef4444;
    color:white;

    border:none;
    border-radius:12px;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;
}

.map-section{
    padding:15px;
    overflow:hidden;

    display:flex;
    flex-direction:column;
}

.map-section h2{
    margin-top:0;
}

#liveMap{
    width:100%;
    height:75vh;

    object-fit:contain;

    border:2px solid #ccc;
    border-radius:10px;
    background:white;
}