<!DOCTYPE html>
<html>
<head>
    <title>TurtleBot4 Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="dashboard">

    <div class="header">
        <h1>TurtleBot4 Dashboard</h1>
    </div>

    <div class="sidebar">

        <div class="battery-card">
            <h3>Battery</h3>
            <div id="battery">0%</div>
        </div>

        <div class="dock-card">
            <button class="dock-btn" onclick="fetch('/dock')">
                Dock
            </button>

            <button class="undock-btn" onclick="fetch('/undock')">
                Undock
            </button>
        </div>

        <div class="mapping-card">

            <button class="map-btn"
                onclick="fetch('/start_mapping')">
                Start Mapping
            </button>

            <button class="save-btn"
                onclick="fetch('/save_map')">
                Save Map
            </button>

        </div>

        <button class="nav-btn" onclick="fetch('/start_navigation')">
    Start Navigation
</button>

<button class="nav-btn" onclick="fetch('/start_nav2')">
    Start Nav2
</button>


  <div class="pose-card">

    <h3>Initial Pose</h3>

    <input id="xpose" placeholder="X coordinate">

    <input id="ypose" placeholder="Y coordinate">

    <button onclick="setPose()">
        Set Pose
    </button>

</div>

<div class="nav-card">
    <h3>Saved Locations</h3>

    <div id="navButtons"></div>
</div>



        <div class="teleop-card">

            <button class="move-btn"
                onmousedown="startMove('forward')"
                onmouseup="stopMove()">
                ↑
            </button>

            <div class="middle-row">

                <button class="move-btn"
                    onmousedown="startMove('left')"
                    onmouseup="stopMove()">
                    ←
                </button>

                <button class="stop-btn"
                    onclick="stopMove()">
                    STOP
                </button>

                <button class="move-btn"
                    onmousedown="startMove('right')"
                    onmouseup="stopMove()">
                    →
                </button>

            </div>

            <button class="move-btn"
                onmousedown="startMove('backward')"
                onmouseup="stopMove()">
                ↓
            </button>

        </div>

    </div>

    <div class="map-section">

        <h2>Live Map</h2>

        <img
            id="liveMap"
            src="/map_image">

    </div>

</div>


<script>

let movementInterval = null;

function startMove(direction) {

    stopMove();

    fetch('/' + direction);

    movementInterval = setInterval(() => {
        fetch('/' + direction);
    }, 100);
}

function stopMove() {

    if (movementInterval) {
        clearInterval(movementInterval);
        movementInterval = null;
    }

    fetch('/stop');
}

function updateBattery() {

    fetch('/battery')
        .then(response => response.json())
        .then(data => {

            const value = data.battery.toFixed(1);

            document.getElementById("battery").innerHTML =
                value + "%";

        });
}

setInterval(() => {

    document.getElementById("liveMap").src =
        "/map_image?t=" + Date.now();

}, 500);

setInterval(updateBattery, 1000);

updateBattery();

document.addEventListener('keydown', function(e){

    if(e.repeat) return;

    if(e.key === 'w') startMove('forward');
    if(e.key === 's') startMove('backward');
    if(e.key === 'a') startMove('left');
    if(e.key === 'd') startMove('right');
    if(e.key === ' ') stopMove();
});

document.addEventListener('keyup', function(e){

    if(
        e.key === 'w' ||
        e.key === 'a' ||
        e.key === 's' ||
        e.key === 'd'
    ){
        stopMove();
    }
});

function setPose(){

    let x =
        document.getElementById("xpose").value;

    let y =
        document.getElementById("ypose").value;


    fetch(
    `/set_initial_pose/${encodeURIComponent(x)}/${encodeURIComponent(y)}`
);
}

function loadLocations(){

    fetch('/locations')
    .then(r => r.json())
    .then(data => {

        let container =
            document.getElementById("navButtons");

        container.innerHTML = "";

        Object.keys(data).forEach(name => {

            let btn =
                document.createElement("button");

            btn.innerHTML = name;

            btn.onclick = () => {
                fetch(`/goto_location/${encodeURIComponent(name)}`);
            };

            container.appendChild(btn);
        });
    })
    .catch(err => {
        console.log(err);
    });
}

loadLocations();

setInterval(loadLocations, 3000);



</script>

</body>
</html>